<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <img src="{{data.picture}}" class="img-responsive" alt=""/>
        </div>
        <div class="content">
            <h1>{{data.name}}</h1>
            <span class="lead"></span>

            <div class="about-text">
                <p>
                    {{data.about}}
                </p>

                <!--<p><img src="img/Signature.png" alt="" class="img-responsive"/></p>-->
            </div>

            <ul class="social-icon" >
                <li><a href="{{data.social.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="{{data.social.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="{{data.social.github}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>

            </ul>
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks">
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Erfaringer</h3>

                    <p>
                        Under utdanningen fikk Billy arbeidet med forskjellige prosjekter. Gjennom disse prosjektene fikk han rikelig med kunnskap om diverse teknologier og verktøy. Han har jobbet for PayEx under bacheloroppgaven, hvor han var med på å utvikle en eCommerce-webapplikasjon som tok i bruk maskinlæring. Videre har han tilegnet seg kompetanse i embedded systems og maskin til maskin-kommunikasjon. Her har han benyttet seg av teknologier som Arduino og Particle Photon og programmert i C og C++.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Fokuserer personlig og faglig utvikking </h3>

                    <p>
                        Billy er også opptatt av kvaliteten på arbeidet sitt, og ser alltid etter forbedringsmuligheter, både i kodekvalitet og prosessmetode. Billy jobber målrettet og strukturert, og kan jobbe i miljøer med stort arbeidspress.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Kvalifikasjoner</h3>

                    <p>
                      Han er en utvikler med kompetanse i fullstack-utvikling og IoT, og er godt kjent med rammeverk som Spring(backend) og frontend biblioteker som ReactJS. Han kjenner godt til Java og byggverktøy Maven, og er kompetent med skytjenester som Firebase og Google Cloud Platform. Videre har han deltatt i skoleprosjekt der han har benyttet seg av agile prosessmetoder som Scrum og Kanban. Han liker å jobbe i team, men jobber også godt selvstendig.
                    </p>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Back-end</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 62%"><span class="progress-percent"> 62%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Front-end</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Development</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%;"><span class="progress-percent"> 75%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Communtcation Skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 55%;"><span class="progress-percent"> 55%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">Gaming</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%;"><span class="progress-percent"> 100%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        
        <div class="row">
            <div class="col-md-12">

                {{#each data.work_experience}}
                <div class="content-item">
                    <small>{{startDate}} - {{endDate}} </small>
                    <h3>{{title}}</h3>
                    <h4>{{place}}</h4>

                    <p>{{country}}</p>
                </div>
                {{/each}}
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                {{#each data.education}}
                <div class="content-item">
                    <small>{{startDate}} - {{endDate}}</small>
                    <h3>{{level}} - {{degree}}</h3>
                    <h4>{{institution}}</h4>

                    <p>{{country}}, {{city}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Projects</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                {{#each data.projects}}
                <div class="content-item">
                    <h3>{{name}}</h3>

                    <p>{{description}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-1.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Creative concepts</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-2.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Customer focused</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-3.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Management methodology</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-4.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Market research</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .portfolio -->

<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    {{data.address.postNumber}}, {{data.address.streetAddress}}<br>
                    {{data.address.city}}, {{data.address.country}}

                </address>
                <address>
                    <strong>Phone Number</strong><br>
                    {{data.phone}}
                </address>

                <address>
                    <strong>Mobile Number</strong><br>
                    {{data.phone}}
                </address>


                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">{{data.email}}</a>
                </address>
            </div>
        </div>
         
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; Resumex. All rights reserved | Design By: <a
                            href="https://themehippo.com">themehippo</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->